apiVersion: v1
kind: Service
metadata:
  name: bw-service
spec:
  selector:
    app: bw
  ports:
    - port: 5001
      targetPort: 5001
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bw
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bw
  template:
    metadata:
      labels:
        app: bw
    spec:
      containers:
      - name: bw
        image: bw-processor:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 5001
        env:
        - name: REDIS_HOST
          value: "redis-service"